# ~/.local/share/systemd/user/appimageupdater.timer

[Unit]
Description=Update AppImages daily

[Timer]
OnCalendar=*-*-* 06,18:00
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target
